<nav class="bg-gray-800 text-white px-4 py-3 fixed w-full z-50 shadow-md">
  <div class="flex items-center justify-between">
    <div class="text-xl font-semibold">WebFinal</div>
    <ul class="flex space-x-4 pr-4 ml-auto">
      <li><a routerLink="/clientes" routerLinkActive="underline" class="hover:text-gray-300">Clientes</a></li>
      <li><a routerLink="/servicios" routerLinkActive="underline" class="hover:text-gray-300">Servicios</a></li>
      <li><a routerLink="/adminplan" routerLinkActive="underline" class="hover:text-gray-300">Planes</a></li>
    </ul>
  </div>
</nav>


<main class="p-4 pt-16">
  <router-outlet></router-outlet>
</main>


